body {
  margin: 0;
  padding: 0;
 
  background-image: linear-gradient(to right top, #0c0909, #4c3030, #a32323, #c14343, #fc3737);
  background-repeat: no-repeat;
  background-size: 100%;
}
#login .container #login-row #login-column #login-box {
  margin-top: 100px;
  max-width: 600px;
  height: 320px;
  border: 3px solid #c60b0b;
  background-color: #EAEAEA;
  
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 25px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
#register .container #register-row #register-column #register-box {
  margin-top: 100px;
  max-width: 600px;
  height: 570px;
  border: 3px solid #9de7f5;
  background-color: #EAEAEA;
  
}
#register .container #register-row #register-column #register-box #register-form {
  padding: 25px;
}
#register .container #register-row #register-column #register-box #register-form #register-link {
  margin-top: -85px;
}
#back{
	border: 1px solid ;
	height:500px;
	width:1420px;
	
}