body 
{
margin:0;
background-color:Silver;
height: 100%;
width:100%; 
display:table;
}




.header
{
display:block;
background-color:Black;
height:250px;
}

.header p
{
font-family: Algerian;
Color:grey;
text-decoration:Underline;
text-align:center;
margin:0;
padding-right:800px;
padding-top: 35px;
font-size: 40px;
}

.header img
{
float:left;
height:100%;
margin:0;
}


.menu
{
width: 100%;
height:100px;
background-color: Dimgray;
}

.menu ul
{
float: right;
padding-top: 15px;
}

.menu ul li
{
margin-left:20px;
float: left;
list-style-type:none;
}

.menu ul li a 
{
text-align:center;
color:white;
text-decoration:none;
display: inline-block;
height:40px;
width:100px;
background-color:Grey;
}

.menu ul li a:hover 
{
color: grey;
background-color:lightblue;
}

h1
{
display:block;
background-color:Gray;
text-align:center;
display:block;
width: 100%;
height:100px;
position:relative;
text-align:center;
margin:0;
font-family: Calibri;
Color:LightSteelBlue;
font-size: 70px;
padding-top: 20px;
}


#Presentation
{
display:block;
background-color:Silver;
font-family:COMIC SANS MS;
font-size:26px;
}
#Presentation img
{
width:250px;
height:250px;
float:left;
margin-top:0;
margin-right:30px;
}
#Presentation ul
{
padding-left:150px;
font-size:26px;
}
#Presentation img#bn
{
width:250px;
height:250px;
float:right;
}
#Presentation p#bonne
{
font-size:22px;
float:right;
margin-top:0;
}
#Presentation p#bonne i
{
font-size:22px;
color:red;
}
#introAdmin
{
text-align:center;
font-family:arial;
font-size:22px;
font-style:italic;
}
#contenuprincipal p.debut
{
text-align:center;
font-family:calibri;
font-size:25px;
}


#contenuprincipal ul
{
margin-left:35%;
padding-top: 15px;
}

#contenuprincipal ul li
{
margin-left:20px;
}

#contenuprincipal ul li a 
{
text-align:center;
color:Black;
text-decoration:none;
font-size:30px;
height:30px;
width:100px;
padding-bottom:30px;
}

#contenuprincipal ul li a:hover 
{
color:Black;
background-color:Orange;
}







.SOMMES
{
text-align:Center;
font-size:40px;
text-decoration:underline;
text-decoration-color:BLUE ;
background-color:Orange;
}
#image img
{
width:500px;
height:500px;
margin-left:35%;
margin-bottom:-50px;;
}
#contenu
{
padding-top:80px;
font-size:25px;
}



#imagemiss img
{
width:500px;
height:500px;
margin-left:35%;
margin-bottom:-60px;;
}
#descri
{
padding-top:80px;
font-size:25px;
}
#descri ul
{
margin-left:18%;
border:3px red groove;
background-color:white;
}
#conclusion
{
font-family:Arial;
font-size:22px;
}
 
 
#Autrepages
{
height:100px;
}
#Autrepages ul
{
margin-left:30%;
padding-top: 15px;
}
#Autrepages ul li a 
{
text-align:center;
color:Black;
text-decoration:none;
font-size:30px;
height:30px;
width:100px;
padding-bottom:30px;
}

#Autrepages ul li a:hover 
{
color:Black;
background-color:Orange;
}









#intro
{
font-size:22px;
font-family:Arial narrow;
}

#forma ul
{
font-family:Arial black;
font-size:30px;
color:red;
}
#expliforma
{
font-family:Arial;
font-size:17px;
}

#expliforma img
{
width:250px;
height:200px;
float:right;
}
#comp ul
{
font-family:Arial black;
font-size:30px;
color:purple;
}
#explicomp
{
font-family:Arial;
font-size:17px;
}

#explicomp img
{
width:250px;
height:230px;
float:right;
}
#remu ul
{
font-family:Arial black;
font-size:30px;
color:LightSkyBlue;
}
#expliremu
{
font-family:Arial;
font-size:17px;
}

#expliremu img
{
width:250px;
height:230px;
float:right;
}
#info ul
{
font-family:Arial black;
font-size:30px;
color:violet;
}
#explinfo
{
font-family:Arial;
font-size:17px;
}
#explinfo table
{
border-color:blue;
border-collapse:collapse;
table-layout:fixed;
}








#note
{
font-family:Arial;
font-size:25px;
}

#coordo
{
float:right;
border:3px red groove;
background-color:wheat;
font-size:17px;
}

.footer
{
background-color:black;
text-align:center;
Color:Gray;
font-family: Arial;
margin:0;
bottom:0;
left:0;
right:0;
height:20px;
display:table-row;
}

