#accueil {
background-image:url(Accueil.jpg);
background-repeat:no-repeat;
background-size: 100% 100%;
width:100%;
height:675px;
}

html {
	min-height:100%;
	min-width:100%;
    background: linear-gradient(rgba(98,113,193,.7), rgba(98,113,193,.7)), url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

	
	


}

#accueil p{
	padding-top:290px;
	z-index:2;
	margin-left:30%;
	color:white;
	font-family: 'Libre Baskerville', serif;
	font-size:3vw;
	font-weight:bold;
	  white-space: nowrap;
  overflow: hidden;
    border-right: .15em solid #013871;
}


#accueil p:nth-child(1) {
  width: 40%;
  -webkit-animation: type 3s steps(40, end);
  animation: type 3s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 2px solid #013871;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .2px solid #013871;
  }
  100% {
    border: none;
  }
}
#menu li {
	font-size:20px;
}

#presentation{
	text-align:center;
	padding-top:40px;


}
#presentation h1{
font-family: 'Cinzel', serif;
font-weight:bold;
font-size:40px;
}
#presentation p {
	font-size:22px;
	font-family: Arial;
}

#stages {
	padding-top:80px;
	
}
#timeline{
font-family: 'Cinzel', serif;
font-weight:bold;
font-size:40px;
color:White;
}
#projets{
	
	padding-top:40px;

	padding-bottom:20px;
}
#projets h1{
	text-align:center;
font-family: 'Cinzel', serif;
font-weight:bold;
font-size:40px;
}
#projets h6{
	text-align:center;
font-family: 'Cinzel', serif;
font-weight:bold;
padding-top:15px;
color:#027bf9;
border:solid #013871;
background-color:white;
font-size:30px;
}

#projets .row {
	
	padding-top:50px;
}

#suivi {
	padding-top:80px;

}
#suivi h1{
text-align:center;
font-family: 'Cinzel', serif;
font-weight:bold;
font-size:40px;
color:White;
}
#suivi .cursus {
	
	max-width:700px;
	margin-top:50px;
	margin-left:30%;
	border-style:double;
	position:relative;
}
#suivi .date{
	text-align:center;
	margin-right:15px;
	font-size:22px;
}
#suivi .date span{
	font-size:20px;
	
}
#suivi .img-fluid{
	margin-left:38%;
}
#suivi h5{
	text-align:center;
	margin-right:17px;
	text-decoration:underline;
	text-decoration-color:red;
}
#suivi .periode{
	margin-left:190px;
	font-size:21px;
}
#suivi .resultat{
	margin-left:60px;
	font-size:21px;
}
#contact{
	background-image:url(essai.png);
	height:300px;
	background-repeat:no-repeat;
background-size: 100% 100%;
}
#contact h1{
text-align:center;
font-family: 'Cinzel', serif;
font-weight:bold;
font-size:40px;
}
#contact p {
	font-family: 'Unica One', cursive;
	font-size:26px;
	font-weight:bold;
	color:Black;
	text-align:center;