body 
{
margin:0;
background-color:Silver;
height: 100%; 
width:100%;
display:table;
}




.header
{
display:block;
background-color:Black;
height:250px;
}

.header p
{
font-family: Algerian;
Color:grey;
text-decoration:Underline;
text-align:center;
margin:0;
padding-right:800px;
padding-top: 35px;
font-size: 40px;
}

.header img
{
float:left;
margin:0;
}

.menu
{
width: 100%;
height:100px;
position:relative;
background-color: Dimgray;
padding-top:18px;
}

.menu ul
{
float: left;
left:50%;
position:relative;
padding-top: 15px;
margin-left:-60px;
}

.menu ul li
{
margin-left:20px;
float: left;
list-style-type:none;
position:relative;
left:40%;
}

.menu ul li a 
{
text-align:center;
color:white;
text-decoration:none;
display: inline-block;
height:30px;
width:100px;
background-color:Grey;
padding-top:10px;

}

.menu ul li a:hover 
{
color: grey;
background-color:lightblue;
}

h1
{
display:block;
background-color:Gray;
text-align:center;
display:block;
width: 100%;
height:100px;
position:relative;
text-align:center;
margin:0;
font-family: Calibri;
Color:LightSteelBlue;
font-size: 70px;
padding-top: 20px;
}


.contenuprincipal
{
display:block;
background-color:Silver;
}

.contenuprincipal p.TLA
{
display:block;
font-family: Calibri;
Color:Black;
text-decoration:underline;
font-size: 60px;
}
.contenuprincipal p.BVN
{
display:block;
position:relative;
margin:0;
font-family: Calibri;
Color:Black;
font-size: 30px;
padding-top: 20px;
padding-left:600px;
}

.contenuprincipal b
{
display:inline-block;
position:relative;
margin:0;
font-family: Calibri;
background-color:white;
Color:Black;
font-size: 30px;
font-weight:bold;
font-style:italic;
border-width:20px;
 border-style:solid;
 border-color:white;
 margin-left:240px;
}

.contenuprincipal img
{
float:left;
width:500px; 
height:300px;
margin:0;
}

.derniercontenu img
{
float:right;
width:500px; 
height:300px;
margin:0;
}

.footer
{
background-color:black;
text-align:center;
Color:Gray;
font-family: Arial;
margin:0;
bottom:0;
left:0;
right:0;
height:20px;
display:table-row;
}

