body
{
background-color:Black;
}

H1
{
font-family: Algerian;
Color:grey;
background-color:Black;
text-decoration:Underline;
}

.menu
{
Left:300px;
  font-family: Arial;
  Color: white;
  text-align: right;
  padding-right:30px;
  padding-left: 550px;
}
H2
{
padding-left: 720px;
font-family: Calibri;
Color:LightSteelBlue;
background-color:Dimgray;
font-size: 50px;
}

H3
{
background-color:Silver;
}


.dodo
{
font-family: Calibri;
Color:BLACK;
font-size: 25px;
padding-left: 550px;
}
.salut
{
font-family: Calibri;
Color:BLACK;
text-decoration:Underline;
font-size: 60px;
}

.damn

{
width:500px; 
vertical-align : top;
height:300px;
}
.cool

{
font-family: Calibri;
Color:BLACK;
font-size: 35px;
float:right;
padding-right: 350px;
line-height : 5px;
}

